<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goalninja.android"
    android:versionCode="3"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/MyTheme"
		android:name="MyApplication">
		
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        
        <!--  Child Activity -->
        <activity
            android:name=".Settings"
            android:label="@string/settings"
			android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value ="com.goalninja.android.MainActivity" />
        </activity>
        
        <!--  Archives activity -->
        <activity
            android:name=".Archives"
            android:label="@string/archives"
			android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.goalninja.android.MainActivity" />
        </activity>
        
        <!--  ArchivedGoal activity -->
        <activity
            android:name=".ArchivedGoal"
            android:label="@string/archivedGoal"
			android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.goalninja.android.Archives" />
        </activity>
        
        
        <!--  Row Activity -->
        <activity
            android:name=".RowActivity"
            android:label="@string/newGoalActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.goalninja.android.MainActivity" />
        </activity>
        
        <!--  UpdateProgress Activity -->
        <activity
            android:name=".UpdateProgress"
            android:label="@string/updateProgressActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.goalninja.android.MainActivity" />
        </activity>
        
        <!--  EditGoal Activity -->
        <activity
            android:name=".EditGoal"
            android:label="@string/editGoalActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.goalninja.android.UpdateProgress" />
        </activity>
        
        <!--  NewGoal Activity -->
        <activity
            android:name=".NewGoal"
            android:label="@string/newGoalActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.goalninja.android.MainActivity" />
        </activity>
        
        
        <!--  Alarm BroadcastReceiver -->
        <receiver android:name=".AlarmReceiver" >
        </receiver>
        
        <!--  Alarm service -->
        <service android:name=".AlarmService">
        </service>
        
        <!--  Receiver for setting alarms onBoot -->
        <receiver
            android:name=".SetAlarmsOnBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        
        <service android:name=".SetAlarmsOnBootService">
        </service>
                
        
    </application>

</manifest>
